doctype html
html(lang='en')
    head
        title Portfolio
        link(rel='stylesheet' href='css/index.css')
        script(type='text/javascript' src='js/main.js')
    body(class='page')
        div(id='name')
        //canvas(id="matrix")
        //script(class='canvas')
        //div(class='hello' id='some')
        //    div(id='example')
        //        p
        //    div(class='form')
        //        div(class='text')
        //            p Enter you name pls
        //        input(class='name' type='text')
        //        button(class='button') click